<h2 class="p-4 text-white" id="about-header">~使用方法~</h2>
<div class="col-sm-10 offset-sm-1 mt-4 border-bottom pb-4">
    <div id="about-img" class="p-2 ml-2 text-center border-bottom">
        <img src="https://i.gyazo.com/5fe46e7c1ade1204c835906bbfc3f2c3.png" alt="Image from Gyazo" width=70%/>
    </div>
    <div>
        <div class="p-3 mt-3 border-bottom">
            <h1>①</h1>
            <p>入力フォームの上から３段目までで五・七・五を作れば俳句（川柳）として投稿できます。また、追加で七・七を入力すれば短歌として投稿できます。</p>
        </div>
        <div class="p-3 mt-3 border-bottom">
            <h1>②</h1>
            <p>投稿に関連のある言葉に「＃」を付けて投稿してみましょう。</p>
        </div>
        <div class="p-3 mt-3">
            <h1>③</h1>
            <p>作品ができたら投稿ボタンを押して作品を発表してみましょう。</p>
        </div>
    </div>
</div>
