<h3 class="col-sm-10 offset-sm-1 p-4 text-white" id="about-header">~はじめての詩歌ガイド~</h3>
<div class="col-sm-10 offset-sm-1 mt-4 border-bottom pb-4">
    <div class="p-3 mt-3 border-bottom">
        <h3>1)作品(俳句・川柳・短歌)を作ってみよう</h3>
        <p class="mt-4">
            ・入力フォームの上から３段目までで五、七、五を作り投稿ボタンを押せば俳句（川柳）として投稿できます。
            <br></br>また、追加で七、七を入力すれば短歌として投稿できます。
            <br></br>ちなみに俳句と川柳の違いは季語が入っているかいないかです。このサービスにおいては詳しく分類しておりません。
        </p>
        <div id="about-img" class="p-2 ml-2 text-center">
            <img src="https://i.gyazo.com/3747267b5a060e0e2950ac9c81a7e1de.png" alt="Image from Gyazo" width=75%/>
        </div>
    </div>
        
    <div class="p-3 mt-3 border-bottom">
        <h3>2)#タグの作成</h3>
        <p class="mt-4">・投稿に関連のある言葉に「＃」を付けて投稿してみましょう。</p>
        <div id="about-img" class="p-2 ml-2 text-center">
            <img src="https://i.gyazo.com/51afd81ca83685344fd889f77c5371c0.png" alt="Image from Gyazo" width=75%/>
        </div>
    </div>
        
    <div class="p-3 mt-3 border-bottom">
        <h3>3)作品の投稿</h3>
        <p class="mt-4">・作品ができたら投稿ボタンを押して作品を発表してみましょう。</p>
        <div id="about-img" class="p-2 ml-2 text-center">
            <img src="https://i.gyazo.com/f83a1f01beec6a254647aabec947c7ae.png" alt="Image from Gyazo" width=75%/>
        </div>
    </div>
</div>
