<div class="col-sm-6 offset-sm-3 mt-3 mb-3">
    <h2 class="text-center border-bottom p-3">新規登録</h2>
</div>

<%= render 'form' %>

<div class="col-sm-6 offset-sm-3 mt-3 mb-3">
    
    <div class="text-center mb-3">
        お試し希望の方→<%= link_to 'かんたんログイン', guest_path, method: :post, class: 'btn btn-outline-dark' %>
    </div>
            
    <div class="text-center">
        登録済みの方はこちら→<%= link_to 'ログイン', login_path, class: 'btn btn-outline-dark' %>
    </div>
</div>