/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@font-face {
  font-family: "YuGothic M";
  src: local("Yu Gothic Medium"),
       local("Yu Gothic");
  font-weight: 500;
}

/*全体*/
body {
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
}

.fa-trash-alt {
    color: #000000;
    font-size: 1.5rem;
}

.fa-heart {
    color: #FF0000;
    font-size: 1.5rem;
}

/*top*/

/*header*/
header {
    background-color: #4790BB;
}

/*show*/
.media-body {
    background-color: #2A5772;
}

btn {
    color: #B0D7D5;
}

#show {
    border-top: 2px solid #DDDDDD;
}

/*post*/
#post {
    writing-mode: vertical-rl;
    text-orientation: upright;
    position: absolute;
    right: 0;
	width: 100%;
	max-width: 100%;
	overflow-x: scroll;
}

#content {
    border-right: 2px solid #DDDDDD;
}

#post-name {
    font-size: 0.9rem;
}

#time {
    font-size: 0.5rem;
}

#post-content {
    font-size: 1.2rem;
    letter-spacing: 0.8em;
}

#post-tag {
    font-size: 0.8rem;
}

#post-page {
    margin-right: 10px;
    padding-right: 8px;
    border-right: 2px solid #DDDDDD;
}

/*form*/
.form-control {
    border: none;
    border-bottom: 1px solid #CCCCCC;
    background-color: #EEEEEE;
}