/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
/*全体*/
ul {
    list-style-type: none;
}

.fa-trash-alt {
    color: #000000;
    font-size: 1.5rem;
}

.fa-heart {
    color: #FF0000;
    font-size: 1.5rem;
}

.btn-outline-light {
    padding: 8px 40px;
    background-color: #B0D7D5;
} 

/*top*/
#main {
    width: 100%;
    margin-top: 80px;
}

/*header*/
header {
    background-color: #333333;
}

#nav-post {
    color: #E9E9E9;
}

#logo {
    width: 20%;
}

/*about*/
#about-header {
    background-color: #2A5772;
}

/*post*/
#post {
    writing-mode: vertical-rl;
    text-orientation: upright;
	width: 100%;
	max-width: 100%;
	overflow-x: scroll;
}

#content {
    border-right: 2px solid #DDDDDD;
}

#post-name {
    color: #333333;
    font-size: 0.9rem;
}

#post-name:hover {
    color: #60CAAD;
}

#time {
    font-size: 0.5rem;
    color: #9DA5A0;
}

#post-content {
    font-size: 1.2rem;
    letter-spacing: 0.8em;
}

#post-tag {
    font-size: 0.8rem;
}

#post-page {
    margin-right: 10px;
    padding-right: 8px;
    border-right: 2px solid #DDDDDD;
}

/*form*/
.form-control {
    border: none;
    border-bottom: 1px solid #CCCCCC;
    background-color: #EEEEEE;
}

/*post-form*/
.balloon4 {
  position: relative;
  margin: 2em 0 2em 40px;
  padding: 15px;
  background: #B0D7D5;
  border-radius: 30px;
}

.balloon4:before {  
  content: "";
  position: absolute;
  left: -38px;
  width: 13px;
  height: 12px;
  bottom: 40px;
  background: #B0D7D5;
  border-radius: 50%;
}

.balloon4:after {
  content: "";
  position: absolute;
  left: -24px;
  width: 20px;
  height: 18px;
  bottom: 30px;
  background: #B0D7D5;
  border-radius: 50%;
}

.balloon4 p {
  margin: 0; 
  padding: 0;
}

