<header class="mb-5">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="#!">詩歌</a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item nav-link">新規登録</li>
                <li class="nav-item nav-link">ログイン</li>
            </ul>
        </div>
    </nav>
</header>
